
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.avatar{
  margin-top:4rem;
  margin-bottom:4rem;
  background:rgb(156, 154, 147);
  padding:1.5rem;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
  position:relative;
  right:5rem;
}

.avatar img{
  margin-bottom:2rem;
}

.sidebar-options{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: flex-start;
  margin-top: 6rem;
  position:relative;
  right:2rem;
}

.profilecard__dp {
  height: 6em;
  border-radius:50%;
  border: 0.3rem solid var(--primary-400);
  transform: scale(1.1);
}

.dp-upload {
  position: absolute;
  width: 40px;
  aspect-ratio: 1;
  background-color: var(--primary-400);
  border-radius: 50%;
  bottom: 5em;
  right: 3em;
  /* margin-top: -3em; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
