.navbar-container{
    
    
    background-color:rgb(248, 225, 124);
    display:flex;
    justify-content:space-between;
    padding : 1rem;
    /* opacity: 0.95;
    backdrop-filter:20px; */
    /* border-radius: 40px;
    width:95%;
    margin:auto; */
}

.navbar-position{
    /* margin-bottom:0.5rem; */
    position:sticky;
    z-index: 10;
    top:0;
    /* margin-top: 5px; */
    /* margin-top:1rem; */
}

hr{
    border:1px solid #69694c79;
}

.navbar-container div {
    padding : 0 3rem;
    margin-left:10rem;
}
.navbar-options{
   padding : 0 3rem;
   margin-left:6rem;
}

.navbar-options button{
    margin-left:3rem;
    margin-right:5rem;
    color: rgb(105, 105, 76);
}

.navbar-options button {
    background: none;
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 15px;
    font-family: Arial;
    
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
  }
  
