.book-item button {
    background: #acac73;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width:10rem;
    transition: 0.25s;
    margin:auto;
  }
  
  .book-item button:hover {
    background: #575b5e;
    text-decoration: none;
    width:12rem;
  }

  .book-item{
     display: flex;
     flex-direction: column;
     
  }

  .book-item img{
      border-radius: 24px;
  }